In [9]:
import os
import pandas as pd

DATA_DIR = os.path.join('..', 'data', 'raw', 'reviews', '1pct_10pct')

In [11]:
genre_df = (pd.read_csv(os.path.join(DATA_DIR, file))
            for file in os.listdir(DATA_DIR))

reviews = pd.concat(genre_df, ignore_index=True)

In [16]:
reviews.head()

,id,text,rating,date,title,author,helpfulness
0,/title/tt0468569/,Best movie ever. Heath ledger's work is phenom...,10.0,12 January 2021,Perfect combo\n,/user/ur95396995/?ref_=tt_urv,\n 171 out of 185 found thi...
1,/title/tt0468569/,Totally one of the greatest movie titles ever ...,10.0,9 January 2021,The Dark Knight\n,/user/ur109215140/?ref_=tt_urv,\n 144 out of 158 found thi...
2,/title/tt0468569/,This movie is a work of art. The finest sequel...,10.0,17 February 2021,This town deserves a better class of criminal!\n,/user/ur129557514/?ref_=tt_urv,\n 50 out of 54 found this ...
3,/title/tt0468569/,"Confidently directed, dark, brooding, and pack...",10.0,12 February 2020,The Dark Knight\n,/user/ur87850731/?ref_=tt_urv,\n 404 out of 471 found thi...
4,/title/tt0468569/,It is just what you want for the best movie. G...,10.0,7 October 2019,MASTERPIECE\n,/user/ur108519953/?ref_=tt_urv,\n 217 out of 251 found thi...

In [18]:
def split_helpfulness_col(df_raw: pd.DataFrame) -> pd.DataFrame:
    """
    Split 'helpfulness' column of input dataframe into two
    distinct columns: 'upvotes' and 'total_votes'

    Args:
        df_raw (pd.DataFrame): 

    Returns:
        pd.DataFrame: Output data frame 
    """
    df_ = df_raw.copy(deep=False)
    df_[['upvotes', 'total_votes']] = (
        reviews['helpfulness']
        .str.replace(',', '')
        .str.extractall('(\d+)')
        .unstack('match')
        .values
    )
    return df_.drop(columns=['helpfulness'])

156531

In [46]:
result = (
    reviews['helpfulness']
    .str.replace(',', '')
    .str.extractall('(\d+)')
    .unstack('match')
)
result

          0
match     0    1
0       171  185
1       144  158
2        50   54
3       404  471
4       217  251
...     ...  ...
604280    8   12
604281   12   20
604282    4    5
604283    4    5
604284   10   17

[604285 rows x 2 columns]

In [50]:
reviews[['upvotes', 'total_votes']] = result.values

In [51]:
reviews

,id,text,rating,date,title,author,helpfulness,upvotes,total_votes
0,/title/tt0468569/,Best movie ever. Heath ledger's work is phenom...,10.0,12 January 2021,Perfect combo\n,/user/ur95396995/?ref_=tt_urv,\n 171 out of 185 found thi...,171,185
1,/title/tt0468569/,Totally one of the greatest movie titles ever ...,10.0,9 January 2021,The Dark Knight\n,/user/ur109215140/?ref_=tt_urv,\n 144 out of 158 found thi...,144,158
2,/title/tt0468569/,This movie is a work of art. The finest sequel...,10.0,17 February 2021,This town deserves a better class of criminal!\n,/user/ur129557514/?ref_=tt_urv,\n 50 out of 54 found this ...,50,54
3,/title/tt0468569/,"Confidently directed, dark, brooding, and pack...",10.0,12 February 2020,The Dark Knight\n,/user/ur87850731/?ref_=tt_urv,\n 404 out of 471 found thi...,404,471
4,/title/tt0468569/,It is just what you want for the best movie. G...,10.0,7 October 2019,MASTERPIECE\n,/user/ur108519953/?ref_=tt_urv,\n 217 out of 251 found thi...,217,251
...,...,...,...,...,...,...,...,...,...
604280,/title/tt0061619/,Directed by Howard Hawks and starring John Way...,8.0,4 February 2010,Big heavyweight movie all round.\n,/user/ur16161013/?ref_=tt_urv,\n 8 out of 12 found this h...,8,12
604281,/title/tt0061619/,Rio Bravo worked so well for Howard Hawks and ...,6.0,6 March 2000,A poor imitation of 1959's Rio Bravo.\n,/user/ur0532822/?ref_=tt_urv,\n 12 out of 20 found this ...,12,20
604282,/title/tt0061619/,John Wayne headed a cast of superb actors. Rob...,10.0,8 March 2020,"Great story, acting and directing\n",/user/ur90905766/?ref_=tt_urv,\n 4 out of 5 found this he...,4,5
604283,/title/tt0061619/,Gunslinger-for-hire Cole Thorton (played by Jo...,10.0,24 September 2019,One Of The Duke's Greatest Films\n,/user/ur87068272/?ref_=tt_urv,\n 4 out of 5 found this he...,4,5
604284,/title/tt0061619/,"While I am not particularly a fan of westerns,...",6.0,9 January 2011,Not the Best Work From John Wayne or Howard H...,/user/ur1234929/?ref_=tt_urv,\n 10 out of 17 found this ...,10,17