In [104]:
import os
import pandas as pd
from dotenv import load_dotenv
from recsys import utils
from recsys.imdb_parser import etl

load_dotenv()

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [2]:
bucket = os.getenv('AWS_S3_BUCKET')
storage_options = {
    'key': os.getenv('AWS_ACCESS_KEY'),
    'secret': os.getenv('AWS_SECRET_ACCESS_KEY')
}

In [20]:
from boto3 import client

s3_client = client(
    's3',
    aws_access_key_id=storage_options['key'],
    aws_secret_access_key=storage_options['secret']
)

In [24]:
metadata_b = s3_client.get_object(Bucket=bucket, Key='metadata/metadata.json')['Body'].read()

In [28]:
metadata_b = s3_client.get_object(Bucket=bucket, Key='metadata/metadata.json')['Body'].read()
metadata = pd.read_json(metadata_b, orient='index')

In [36]:
metadata.head()

,main_genre,original_title,genres,poster_url,review_summary,agg_rating,actors,imdb_recommendations,details,boxoffice,reviews_collected_flg
/title/tt0002130/,Adventure,Dante's Inferno,"[Adventure, Drama, Fantasy]",https://m.media-amazon.com/images/M/MV5BNjU1ND...,"{'user_review_num': '36', 'critic_review_num':...","{'avg_rating': '7.0/10', 'num_votes': '2.9K'}","{'1': '/name/nm0660139', '2': '/name/nm0685283...","{'1': '/title/tt0003740/', '2': '/title/tt0001...",{'release_date': ['July 1911 (United States)']...,"{'budget': None, 'boxoffice_gross_domestic': N...",1
/title/tt0003740/,Adventure,Cabiria,"[Adventure, Drama, History]",https://m.media-amazon.com/images/M/MV5BZmVjNz...,"{'user_review_num': '35', 'critic_review_num':...","{'avg_rating': '7.1/10', 'num_votes': '3.6K'}","{'1': '/name/nm0021935', '2': '/name/nm0702894...","{'1': '/title/tt0006864/', '2': '/title/tt0009...","{'release_date': ['May 9, 1914 (United States)...","{'budget': 'ITL 1,000,000 (estimated)', 'boxof...",1
/title/tt0004635/,Action,The Squaw Man,"[Action, Drama, Romance]",https://m.media-amazon.com/images/M/MV5BMjMwOD...,"{'user_review_num': '9', 'critic_review_num': ...","{'avg_rating': '5.7/10', 'num_votes': '979'}","{'1': '/name/nm0267914', '2': '/name/nm0758457...","{'1': '/title/tt0014532/', '2': '/title/tt0006...","{'release_date': ['February 15, 1914 (United S...","{'budget': '$20,000 (estimated)', 'boxoffice_g...",1
/title/tt0004707/,Comedy,Tillie's Punctured Romance,[Comedy],https://m.media-amazon.com/images/M/MV5BMDZjOW...,"{'user_review_num': '41', 'critic_review_num':...","{'avg_rating': '6.3/10', 'num_votes': '3.5K'}","{'1': '/name/nm0000122', '2': '/name/nm0237597...","{'1': '/title/tt0005074/', '2': '/title/tt0006...","{'release_date': ['December 21, 1914 (United S...","{'budget': '$50,000 (estimated)', 'boxoffice_g...",1
/title/tt0004972/,Drama,The Birth of a Nation,"[Drama, History, War]",https://m.media-amazon.com/images/M/MV5BNWZlNj...,"{'user_review_num': '379', 'critic_review_num'...","{'avg_rating': '6.2/10', 'num_votes': '25K'}","{'1': '/name/nm0001273', '2': '/name/nm0550615...","{'1': '/title/tt0006864/', '2': '/title/tt0009...","{'release_date': ['March 21, 1915 (United Stat...","{'budget': '$110,000 (estimated)', 'boxoffice_...",1

In [ ]:
etl.expand_short_form

In [142]:
pd.json_normalize(metadata['review_summary'])

      user_review_num critic_review_num metascore
0                  36                13       NaN
1                  35                26       NaN
2                   9                 4       NaN
3                  41                19       NaN
4                 379                79       NaN
...               ...               ...       ...
23579             426                66        35
23580             269                12       NaN
23581             141                83        62
23582              10                 5       NaN
23583              38                31       NaN

[23584 rows x 3 columns]

In [144]:
n = pd.json_normalize(metadata['review_summary'])
n.head()

  user_review_num critic_review_num metascore
0              36                13       NaN
1              35                26       NaN
2               9                 4       NaN
3              41                19       NaN
4             379                79       NaN

In [171]:
metadata['agg_rating'].isna().sum()

1

In [183]:
r = etl.split_aggregate_rating(metadata)
r

,main_genre,original_title,genres,poster_url,review_summary,actors,imdb_recommendations,details,boxoffice,reviews_collected_flg,rating,num_votes
/title/tt0002130/,Adventure,Dante's Inferno,"[Adventure, Drama, Fantasy]",https://m.media-amazon.com/images/M/MV5BNjU1ND...,"{'user_review_num': '36', 'critic_review_num':...","{'1': '/name/nm0660139', '2': '/name/nm0685283...","{'1': '/title/tt0003740/', '2': '/title/tt0001...",{'release_date': ['July 1911 (United States)']...,"{'budget': None, 'boxoffice_gross_domestic': N...",1,7.0,2900.0
/title/tt0003740/,Adventure,Cabiria,"[Adventure, Drama, History]",https://m.media-amazon.com/images/M/MV5BZmVjNz...,"{'user_review_num': '35', 'critic_review_num':...","{'1': '/name/nm0021935', '2': '/name/nm0702894...","{'1': '/title/tt0006864/', '2': '/title/tt0009...","{'release_date': ['May 9, 1914 (United States)...","{'budget': 'ITL 1,000,000 (estimated)', 'boxof...",1,7.1,3600.0
/title/tt0004635/,Action,The Squaw Man,"[Action, Drama, Romance]",https://m.media-amazon.com/images/M/MV5BMjMwOD...,"{'user_review_num': '9', 'critic_review_num': ...","{'1': '/name/nm0267914', '2': '/name/nm0758457...","{'1': '/title/tt0014532/', '2': '/title/tt0006...","{'release_date': ['February 15, 1914 (United S...","{'budget': '$20,000 (estimated)', 'boxoffice_g...",1,5.7,979.0
/title/tt0004707/,Comedy,Tillie's Punctured Romance,[Comedy],https://m.media-amazon.com/images/M/MV5BMDZjOW...,"{'user_review_num': '41', 'critic_review_num':...","{'1': '/name/nm0000122', '2': '/name/nm0237597...","{'1': '/title/tt0005074/', '2': '/title/tt0006...","{'release_date': ['December 21, 1914 (United S...","{'budget': '$50,000 (estimated)', 'boxoffice_g...",1,6.3,3500.0
/title/tt0004972/,Drama,The Birth of a Nation,"[Drama, History, War]",https://m.media-amazon.com/images/M/MV5BNWZlNj...,"{'user_review_num': '379', 'critic_review_num'...","{'1': '/name/nm0001273', '2': '/name/nm0550615...","{'1': '/title/tt0006864/', '2': '/title/tt0009...","{'release_date': ['March 21, 1915 (United Stat...","{'budget': '$110,000 (estimated)', 'boxoffice_...",1,6.2,25000.0
...,...,...,...,...,...,...,...,...,...,...,...,...
/title/tt9898858/,Action,Coffee & Kareem,"[Action, Comedy, Crime]",https://m.media-amazon.com/images/M/MV5BNTMyMm...,"{'user_review_num': '426', 'critic_review_num'...","{'1': '/name/nm1159180', '2': '/name/nm0378245...","{'1': '/title/tt8851668/', '2': '/title/tt3317...","{'release_date': ['April 3, 2020 (United State...","{'budget': None, 'boxoffice_gross_domestic': N...",1,5.1,14000.0
/title/tt9900782/,Action,Kaithi,"[Action, Crime, Thriller]",https://m.media-amazon.com/images/M/MV5BOWVlNj...,"{'user_review_num': '269', 'critic_review_num'...","{'1': '/name/nm1912683', '2': '/name/nm1230844...","{'1': '/title/tt9179430/', '2': '/title/tt1057...","{'release_date': ['October 24, 2019 (United St...","{'budget': '₹240,000,000 (estimated)', 'boxoff...",1,8.5,26000.0
/title/tt9907782/,Fantasy,The Cursed,"[Fantasy, Horror, Mystery]",https://m.media-amazon.com/images/M/MV5BMjllNW...,"{'user_review_num': '141', 'critic_review_num'...","{'1': '/name/nm2933542', '2': '/name/nm0717709...","{'1': '/title/tt8296030/', '2': '/title/tt1251...","{'release_date': ['February 18, 2022 (United S...","{'budget': None, 'boxoffice_gross_domestic': '...",1,6.2,8200.0
/title/tt9911196/,Comedy,The Marriage Escape,"[Comedy, Drama]",https://m.media-amazon.com/images/M/MV5BYjNjZm...,"{'user_review_num': '10', 'critic_review_num':...","{'1': '/name/nm0277932', '2': '/name/nm0824373...","{'1': '/title/tt14217100/', '2': '/title/tt613...","{'release_date': ['February 13, 2020 (Netherla...","{'budget': None, 'boxoffice_gross_domestic': N...",1,7.5,3400.0
/title/tt9916362/,Drama,Coven,"[Drama, History]",https://m.media-amazon.com/images/M/MV5BZTc0NG...,"{'user_review_num': '38', 'critic_review_num':...","{'1': '/name/nm3766704', '2': '/name/nm0107165...","{'1': '/title/tt10434142/', '2': '/title/tt796...","{'release_date': ['October 2, 2020 (Spain)'], ...","{'budget': '€2,500,000 (estimated)', 'boxoffic...",1,6.4,4800.0

In [174]:
pd.json_normalize(metadata['agg_rating'], errors='ignore')

AttributeError: 'NoneType' object has no attribute 'items'

In [163]:
etl.split_review_summary(metadata)

,main_genre,original_title,genres,poster_url,agg_rating,actors,imdb_recommendations,details,boxoffice,reviews_collected_flg,user_review_num,critic_review_num,metascore
/title/tt0002130/,Adventure,Dante's Inferno,"[Adventure, Drama, Fantasy]",https://m.media-amazon.com/images/M/MV5BNjU1ND...,"{'avg_rating': '7.0/10', 'num_votes': '2.9K'}","{'1': '/name/nm0660139', '2': '/name/nm0685283...","{'1': '/title/tt0003740/', '2': '/title/tt0001...",{'release_date': ['July 1911 (United States)']...,"{'budget': None, 'boxoffice_gross_domestic': N...",1,36.0,13.0,NaN
/title/tt0003740/,Adventure,Cabiria,"[Adventure, Drama, History]",https://m.media-amazon.com/images/M/MV5BZmVjNz...,"{'avg_rating': '7.1/10', 'num_votes': '3.6K'}","{'1': '/name/nm0021935', '2': '/name/nm0702894...","{'1': '/title/tt0006864/', '2': '/title/tt0009...","{'release_date': ['May 9, 1914 (United States)...","{'budget': 'ITL 1,000,000 (estimated)', 'boxof...",1,35.0,26.0,NaN
/title/tt0004635/,Action,The Squaw Man,"[Action, Drama, Romance]",https://m.media-amazon.com/images/M/MV5BMjMwOD...,"{'avg_rating': '5.7/10', 'num_votes': '979'}","{'1': '/name/nm0267914', '2': '/name/nm0758457...","{'1': '/title/tt0014532/', '2': '/title/tt0006...","{'release_date': ['February 15, 1914 (United S...","{'budget': '$20,000 (estimated)', 'boxoffice_g...",1,9.0,4.0,NaN
/title/tt0004707/,Comedy,Tillie's Punctured Romance,[Comedy],https://m.media-amazon.com/images/M/MV5BMDZjOW...,"{'avg_rating': '6.3/10', 'num_votes': '3.5K'}","{'1': '/name/nm0000122', '2': '/name/nm0237597...","{'1': '/title/tt0005074/', '2': '/title/tt0006...","{'release_date': ['December 21, 1914 (United S...","{'budget': '$50,000 (estimated)', 'boxoffice_g...",1,41.0,19.0,NaN
/title/tt0004972/,Drama,The Birth of a Nation,"[Drama, History, War]",https://m.media-amazon.com/images/M/MV5BNWZlNj...,"{'avg_rating': '6.2/10', 'num_votes': '25K'}","{'1': '/name/nm0001273', '2': '/name/nm0550615...","{'1': '/title/tt0006864/', '2': '/title/tt0009...","{'release_date': ['March 21, 1915 (United Stat...","{'budget': '$110,000 (estimated)', 'boxoffice_...",1,379.0,79.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
/title/tt9898858/,Action,Coffee & Kareem,"[Action, Comedy, Crime]",https://m.media-amazon.com/images/M/MV5BNTMyMm...,"{'avg_rating': '5.1/10', 'num_votes': '14K'}","{'1': '/name/nm1159180', '2': '/name/nm0378245...","{'1': '/title/tt8851668/', '2': '/title/tt3317...","{'release_date': ['April 3, 2020 (United State...","{'budget': None, 'boxoffice_gross_domestic': N...",1,426.0,66.0,35.0
/title/tt9900782/,Action,Kaithi,"[Action, Crime, Thriller]",https://m.media-amazon.com/images/M/MV5BOWVlNj...,"{'avg_rating': '8.5/10', 'num_votes': '26K'}","{'1': '/name/nm1912683', '2': '/name/nm1230844...","{'1': '/title/tt9179430/', '2': '/title/tt1057...","{'release_date': ['October 24, 2019 (United St...","{'budget': '₹240,000,000 (estimated)', 'boxoff...",1,269.0,12.0,NaN
/title/tt9907782/,Fantasy,The Cursed,"[Fantasy, Horror, Mystery]",https://m.media-amazon.com/images/M/MV5BMjllNW...,"{'avg_rating': '6.2/10', 'num_votes': '8.2K'}","{'1': '/name/nm2933542', '2': '/name/nm0717709...","{'1': '/title/tt8296030/', '2': '/title/tt1251...","{'release_date': ['February 18, 2022 (United S...","{'budget': None, 'boxoffice_gross_domestic': '...",1,141.0,83.0,62.0
/title/tt9911196/,Comedy,The Marriage Escape,"[Comedy, Drama]",https://m.media-amazon.com/images/M/MV5BYjNjZm...,"{'avg_rating': '7.5/10', 'num_votes': '3.4K'}","{'1': '/name/nm0277932', '2': '/name/nm0824373...","{'1': '/title/tt14217100/', '2': '/title/tt613...","{'release_date': ['February 13, 2020 (Netherla...","{'budget': None, 'boxoffice_gross_domestic': N...",1,10.0,5.0,NaN
/title/tt9916362/,Drama,Coven,"[Drama, History]",https://m.media-amazon.com/images/M/MV5BZTc0NG...,"{'avg_rating': '6.4/10', 'num_votes': '4.8K'}","{'1': '/name/nm3766704', '2': '/name/nm0107165...","{'1': '/title/tt10434142/', '2': '/title/tt796...","{'release_date': ['October 2, 2020 (Spain)'], ...","{'budget': '€2,500,000 (estimated)', 'boxoffic...",1,38.0,31.0,NaN

In [126]:
metadata['boxoffice'].iloc[0]

{'budget': None,
 'boxoffice_gross_domestic': None,
 'boxoffice_gross_opening': None,
 'boxoffice_gross_worldwide': None}

In [127]:
metadata['boxoffice'].iloc[1]

{'budget': 'ITL\xa01,000,000 (estimated)',
 'boxoffice_gross_domestic': None,
 'boxoffice_gross_opening': None,
 'boxoffice_gross_worldwide': None}

In [134]:
metadata['boxoffice'].iloc[100]

{'budget': None,
 'boxoffice_gross_domestic': None,
 'boxoffice_gross_opening': None,
 'boxoffice_gross_worldwide': '$4,347'}

In [125]:
etl.normalize(metadata, 'imdb_recommendations').loc[0, 1]

'/title/tt0003740/'

In [117]:
for i in metadata['review_summary'].values:
    if 'metascore' in i:
        print(i)
        break

{'user_review_num': '125', 'critic_review_num': '76', 'metascore': '99'}

In [115]:
metadata['review_summary'].iloc[4]

{'user_review_num': '379', 'critic_review_num': '79'}

In [108]:
metadata['actors'].iloc[0]

{'1': '/name/nm0660139',
 '2': '/name/nm0685283',
 '3': '/name/nm0209738',
 '4': '/name/nm3942815',
 '5': '/name/nm1375863',
 '6': '/name/nm1375916',
 '7': '/name/nm1374534'}

In [102]:
pd.json_normalize(metadata['imdb_recommendations'])

,1,2,3,4,5,6,7,8,9,10,11,12
0,/title/tt0003740/,/title/tt0001223/,/title/tt0001527/,/title/tt0003419/,/title/tt0003424/,/title/tt0014826/,/title/tt0026262/,/title/tt0000832/,/title/tt0017048/,/title/tt0479008/,/title/tt0210675/,/title/tt0006864/
1,/title/tt0006864/,/title/tt0009968/,/title/tt0004972/,/title/tt0002130/,/title/tt0003419/,/title/tt0002445/,/title/tt0002844/,/title/tt0000832/,/title/tt0011841/,/title/tt0001105/,/title/tt0006206/,/title/tt0001527/
2,/title/tt0014532/,/title/tt0006886/,/title/tt0210824/,/title/tt0003740/,/title/tt0001527/,/title/tt0003424/,/title/tt0004066/,/title/tt0004465/,/title/tt0003014/,/title/tt0019824/,/title/tt0022428/,/title/tt0009650/
3,/title/tt0005074/,/title/tt0006177/,/title/tt0005077/,/title/tt0004100/,/title/tt0004936/,/title/tt0004288/,/title/tt0004194/,/title/tt0004546/,/title/tt0004395/,/title/tt0004011/,/title/tt0006313/,/title/tt0006309/
4,/title/tt0006864/,/title/tt0009968/,/title/tt0000439/,/title/tt4196450/,/title/tt0011841/,/title/tt0003740/,/title/tt0006664/,/title/tt0012532/,/title/tt0000417/,/title/tt0015648/,/title/tt0010323/,/title/tt0015881/
...,...,...,...,...,...,...,...,...,...,...,...,...
23579,/title/tt8851668/,/title/tt3317234/,/title/tt1542768/,/title/tt9619798/,/title/tt7734218/,/title/tt4769836/,/title/tt8629748/,/title/tt6273924/,/title/tt8976710/,/title/tt7256866/,/title/tt10682266/,/title/tt7517330/
23580,/title/tt9179430/,/title/tt10579952/,/title/tt6148156/,/title/tt10189514/,/title/tt9477520/,/title/tt7060344/,/title/tt5559528/,/title/tt9851854/,/title/tt13391710/,/title/tt15097216/,/title/tt10698680/,/title/tt11580854/
23581,/title/tt8296030/,/title/tt12519030/,/title/tt13560574/,/title/tt13872248/,/title/tt10406596/,/title/tt14550642/,/title/tt14905650/,/title/tt12004038/,/title/tt7550014/,/title/tt17640714/,/title/tt1845838/,/title/tt11138512/
23582,/title/tt14217100/,/title/tt6132250/,/title/tt8639136/,/title/tt6851410/,/title/tt10704730/,/title/tt5571814/,/title/tt13323330/,/title/tt4568328/,/title/tt10521092/,/title/tt8458582/,/title/tt15012846/,/title/tt8095076/
23583,/title/tt10434142/,/title/tt7960322/,/title/tt4359330/,/title/tt10077544/,/title/tt6844138/,/title/tt6341832/,/title/tt11028768/,/title/tt11572530/,/title/tt11698630/,/title/tt9616700/,/title/tt8747160/,/title/tt11892272/

In [101]:
pd.json_normalize(metadata['actors'])

,1,2,3,4,5,6,7,8,9,10
0,/name/nm0660139,/name/nm0685283,/name/nm0209738,/name/nm3942815,/name/nm1375863,/name/nm1375916,/name/nm1374534,NaN,NaN,NaN
1,/name/nm0021935,/name/nm0702894,/name/nm0656034,/name/nm0146028,/name/nm0544842,/name/nm0856422,/name/nm0610618,/name/nm0224122,/name/nm0889527,/name/nm0202688
2,/name/nm0267914,/name/nm0758457,/name/nm0455612,/name/nm0277317,/name/nm0298243,/name/nm0934969,/name/nm0461620,/name/nm0598767,/name/nm0211329,/name/nm0350628
3,/name/nm0000122,/name/nm0237597,/name/nm0635667,/name/nm0841501,/name/nm0071658,/name/nm0174682,/name/nm0016744,/name/nm0020914,/name/nm0071616,/name/nm0096094
4,/name/nm0001273,/name/nm0550615,/name/nm0910400,/name/nm0178270,/name/nm0017488,/name/nm0507635,/name/nm0797094,/name/nm0519227,/name/nm0366008,/name/nm0717468
...,...,...,...,...,...,...,...,...,...,...
23579,/name/nm1159180,/name/nm0378245,/name/nm10067359,/name/nm2365811,/name/nm0498165,/name/nm0004979,/name/nm4392718,/name/nm2285290,/name/nm0396369,/name/nm3552604
23580,/name/nm1912683,/name/nm1230844,/name/nm10183124,/name/nm6998719,/name/nm6649988,/name/nm5782889,/name/nm6030469,/name/nm7639503,/name/nm7130871,/name/nm7645843
23581,/name/nm2933542,/name/nm0717709,/name/nm0677944,/name/nm3646923,/name/nm0079451,/name/nm0101400,/name/nm0475336,/name/nm6076321,/name/nm10498203,/name/nm7748240
23582,/name/nm0277932,/name/nm0824373,/name/nm3362584,/name/nm2558112,/name/nm10877188,/name/nm10877187,/name/nm1135487,/name/nm10877189,/name/nm2099145,/name/nm0119870
23583,/name/nm3766704,/name/nm0107165,/name/nm0266723,/name/nm10678594,/name/nm10678598,/name/nm10678596,/name/nm10678595,/name/nm10678597,/name/nm3084436,/name/nm0881986

In [72]:
mapping = {'K': 'e3', 'M': 'e6'}
review_summary = metadata[['original_title', 'review_summary']].copy(deep=True)
review_summary[['user_review_num', 'critic_review_num', 'metascore']] = review_summary['review_summary'].apply(pd.Series).replace('.', '')
review_summary = review_summary.drop('review_summary', axis=1)
review_summary['user_review_num'] = review_summary['user_review_num'].str.replace('K', 'e3').astype(float)
review_summary.head()

,original_title,user_review_num,critic_review_num,metascore
/title/tt0002130/,Dante's Inferno,36.0,13,NaN
/title/tt0003740/,Cabiria,35.0,26,NaN
/title/tt0004635/,The Squaw Man,9.0,4,NaN
/title/tt0004707/,Tillie's Punctured Romance,41.0,19,NaN
/title/tt0004972/,The Birth of a Nation,379.0,79,NaN

In [70]:
review_summary[review_summary['user_review_num'] == '4.7K']

                  original_title user_review_num critic_review_num metascore
/title/tt9531772/   Sooryavanshi            4.7K                15       NaN

In [74]:
review_summary['user_review_num'].sum()

3907296.0

In [86]:
top_n = 1000
top_movies = review_summary['user_review_num'].sort_values(ascending=False).dropna().index[:top_n]
top_movies

Index(['/title/tt7286456/', '/title/tt0111161/', '/title/tt4154796/',
       '/title/tt0468569/', '/title/tt12361974/', '/title/tt2527338/',
       '/title/tt8110330/', '/title/tt10811166/', '/title/tt7126948/',
       '/title/tt4154664/',
       ...
       '/title/tt8983202/', '/title/tt0112641/', '/title/tt3567288/',
       '/title/tt11314148/', '/title/tt2094766/', '/title/tt7886848/',
       '/title/tt10065694/', '/title/tt1527186/', '/title/tt0385752/',
       '/title/tt7518786/'],
      dtype='object', length=1000)

In [90]:
from tqdm.notebook import tqdm

In [95]:
review_dfs[0].iloc[0]

Unnamed: 0                                                     0
id                                             /title/tt7286456/
text           Truly a masterpiece, The Best Hollywood film o...
rating                                                      10.0
date                                            1 September 2019
title                                 Perfect in every aspect.\n
author                             /user/ur68129834/?ref_=tt_urv
helpfulness    \n                    3,088 out of 4,018 found...
Name: 0, dtype: object

In [105]:
etl.normalize(review_dfs[0].iloc[0])

AttributeError: 'Series' object has no attribute 'columns'

In [91]:
review_dfs = []
for title_id in tqdm(top_movies):
    review_file = title_id.split('/title/')[1][:-1] + '.csv'
    title_reviews_file = os.path.join('s3://', bucket, 'reviews', review_file)
    some_reviews = pd.read_csv(title_reviews_file, storage_options=storage_options)
    review_dfs.append(some_reviews)

  0%|          | 0/1000 [00:00<?, ?it/s]

KeyboardInterrupt:

In [75]:
%%time
metadata_file = os.path.join('s3://', bucket, 'metadata/metadata.json')
metadata = pd.read_json(metadata_file, orient='index', storage_options=storage_options)

CPU times: user 1.18 s, sys: 147 ms, total: 1.33 s
Wall time: 20.5 s

In [284]:
pd.read_json(os.path.join('s3://', bucket, 'metadata/metadata11.json'), orient='index', storage_options=storage_options)

FileNotFoundError: movie-on-friday/metadata/metadata11.json

In [78]:
metadata.index

Index(['/title/tt0002130/', '/title/tt0003740/', '/title/tt0004635/',
       '/title/tt0004707/', '/title/tt0004972/', '/title/tt0006206/',
       '/title/tt0006780/', '/title/tt0006864/', '/title/tt0009893/',
       '/title/tt0009900/',
       ...
       '/title/tt9877170/', '/title/tt9883996/', '/title/tt9893250/',
       '/title/tt9894440/', '/title/tt9894470/', '/title/tt9898858/',
       '/title/tt9900782/', '/title/tt9907782/', '/title/tt9911196/',
       '/title/tt9916362/'],
      dtype='object', length=23584)

In [79]:
metadata

,main_genre,original_title,genres,poster_url,review_summary,agg_rating,actors,imdb_recommendations,details,boxoffice,reviews_collected_flg
/title/tt0002130/,Adventure,Dante's Inferno,"[Adventure, Drama, Fantasy]",https://m.media-amazon.com/images/M/MV5BNjU1ND...,"{'user_review_num': '36', 'critic_review_num':...","{'avg_rating': '7.0/10', 'num_votes': '2.9K'}","{'1': '/name/nm0660139', '2': '/name/nm0685283...","{'1': '/title/tt0003740/', '2': '/title/tt0001...",{'release_date': ['July 1911 (United States)']...,"{'budget': None, 'boxoffice_gross_domestic': N...",1
/title/tt0003740/,Adventure,Cabiria,"[Adventure, Drama, History]",https://m.media-amazon.com/images/M/MV5BZmVjNz...,"{'user_review_num': '35', 'critic_review_num':...","{'avg_rating': '7.1/10', 'num_votes': '3.6K'}","{'1': '/name/nm0021935', '2': '/name/nm0702894...","{'1': '/title/tt0006864/', '2': '/title/tt0009...","{'release_date': ['May 9, 1914 (United States)...","{'budget': 'ITL 1,000,000 (estimated)', 'boxof...",1
/title/tt0004635/,Action,The Squaw Man,"[Action, Drama, Romance]",https://m.media-amazon.com/images/M/MV5BMjMwOD...,"{'user_review_num': '9', 'critic_review_num': ...","{'avg_rating': '5.7/10', 'num_votes': '979'}","{'1': '/name/nm0267914', '2': '/name/nm0758457...","{'1': '/title/tt0014532/', '2': '/title/tt0006...","{'release_date': ['February 15, 1914 (United S...","{'budget': '$20,000 (estimated)', 'boxoffice_g...",1
/title/tt0004707/,Comedy,Tillie's Punctured Romance,[Comedy],https://m.media-amazon.com/images/M/MV5BMDZjOW...,"{'user_review_num': '41', 'critic_review_num':...","{'avg_rating': '6.3/10', 'num_votes': '3.5K'}","{'1': '/name/nm0000122', '2': '/name/nm0237597...","{'1': '/title/tt0005074/', '2': '/title/tt0006...","{'release_date': ['December 21, 1914 (United S...","{'budget': '$50,000 (estimated)', 'boxoffice_g...",1
/title/tt0004972/,Drama,The Birth of a Nation,"[Drama, History, War]",https://m.media-amazon.com/images/M/MV5BNWZlNj...,"{'user_review_num': '379', 'critic_review_num'...","{'avg_rating': '6.2/10', 'num_votes': '25K'}","{'1': '/name/nm0001273', '2': '/name/nm0550615...","{'1': '/title/tt0006864/', '2': '/title/tt0009...","{'release_date': ['March 21, 1915 (United Stat...","{'budget': '$110,000 (estimated)', 'boxoffice_...",1
...,...,...,...,...,...,...,...,...,...,...,...
/title/tt9898858/,Action,Coffee & Kareem,"[Action, Comedy, Crime]",https://m.media-amazon.com/images/M/MV5BNTMyMm...,"{'user_review_num': '426', 'critic_review_num'...","{'avg_rating': '5.1/10', 'num_votes': '14K'}","{'1': '/name/nm1159180', '2': '/name/nm0378245...","{'1': '/title/tt8851668/', '2': '/title/tt3317...","{'release_date': ['April 3, 2020 (United State...","{'budget': None, 'boxoffice_gross_domestic': N...",1
/title/tt9900782/,Action,Kaithi,"[Action, Crime, Thriller]",https://m.media-amazon.com/images/M/MV5BOWVlNj...,"{'user_review_num': '269', 'critic_review_num'...","{'avg_rating': '8.5/10', 'num_votes': '26K'}","{'1': '/name/nm1912683', '2': '/name/nm1230844...","{'1': '/title/tt9179430/', '2': '/title/tt1057...","{'release_date': ['October 24, 2019 (United St...","{'budget': '₹240,000,000 (estimated)', 'boxoff...",1
/title/tt9907782/,Fantasy,The Cursed,"[Fantasy, Horror, Mystery]",https://m.media-amazon.com/images/M/MV5BMjllNW...,"{'user_review_num': '141', 'critic_review_num'...","{'avg_rating': '6.2/10', 'num_votes': '8.2K'}","{'1': '/name/nm2933542', '2': '/name/nm0717709...","{'1': '/title/tt8296030/', '2': '/title/tt1251...","{'release_date': ['February 18, 2022 (United S...","{'budget': None, 'boxoffice_gross_domestic': '...",1
/title/tt9911196/,Comedy,The Marriage Escape,"[Comedy, Drama]",https://m.media-amazon.com/images/M/MV5BYjNjZm...,"{'user_review_num': '10', 'critic_review_num':...","{'avg_rating': '7.5/10', 'num_votes': '3.4K'}","{'1': '/name/nm0277932', '2': '/name/nm0824373...","{'1': '/title/tt14217100/', '2': '/title/tt613...","{'release_date': ['February 13, 2020 (Netherla...","{'budget': None, 'boxoffice_gross_domestic': N...",1
/title/tt9916362/,Drama,Coven,"[Drama, History]",https://m.media-amazon.com/images/M/MV5BZTc0NG...,"{'user_review_num': '38', 'critic_review_num':...","{'avg_rating': '6.4/10', 'num_votes': '4.8K'}","{'1': '/name/nm3766704', '2': '/name/nm0107165...","{'1': '/title/tt10434142/', '2': '/title/tt796...","{'release_date': ['October 2, 2020 (Spain)'], ...","{'budget': '€2,500,000 (estimated)', 'boxoffic...",1

In [266]:
h = metadata['original_title'].apply(hash).mod(10).reset_index().groupby('original_title').agg(set)
h

                                                            index
original_title
0               {/title/tt0079322/, /title/tt0069897/, /title/...
1               {/title/tt0063663/, /title/tt0098253/, /title/...
2               {/title/tt0070510/, /title/tt0484111/, /title/...
3               {/title/tt0027438/, /title/tt0294870/, /title/...
4               {/title/tt2368254/, /title/tt3281548/, /title/...
5               {/title/tt0078077/, /title/tt0109417/, /title/...
6               {/title/tt0074705/, /title/tt5493944/, /title/...
7               {/title/tt0120241/, /title/tt0100506/, /title/...
8               {/title/tt0089767/, /title/tt2987732/, /title/...
9               {/title/tt0410400/, /title/tt0212830/, /title/...

In [271]:
s = '/title/tt0079322/'
s

'/title/tt0079322/'

In [277]:
s[7:-1]

'tt0079322'

In [269]:
h.at[0, 'index']

{'/title/tt0079322/',
 '/title/tt0069897/',
 '/title/tt0113799/',
 '/title/tt0090567/',
 '/title/tt0322023/',
 '/title/tt1993391/',
 '/title/tt0056736/',
 '/title/tt0112767/',
 '/title/tt15004136/',
 '/title/tt3469592/',
 '/title/tt0075790/',
 '/title/tt5862312/',
 '/title/tt0155711/',
 '/title/tt0206921/',
 '/title/tt0424430/',
 '/title/tt7268738/',
 '/title/tt0078350/',
 '/title/tt2716382/',
 '/title/tt0065106/',
 '/title/tt0036696/',
 '/title/tt0364376/',
 '/title/tt0084737/',
 '/title/tt1181795/',
 '/title/tt1017464/',
 '/title/tt0061024/',
 '/title/tt0449869/',
 '/title/tt2677064/',
 '/title/tt0110006/',
 '/title/tt0280949/',
 '/title/tt0322645/',
 '/title/tt1667307/',
 '/title/tt13249596/',
 '/title/tt1305583/',
 '/title/tt0077696/',
 '/title/tt1190536/',
 '/title/tt0087258/',
 '/title/tt0109099/',
 '/title/tt0109771/',
 '/title/tt0395173/',
 '/title/tt3625136/',
 '/title/tt9213244/',
 '/title/tt2866708/',
 '/title/tt0055318/',
 '/title/tt0374330/',
 '/title/tt0082250/',
 '/title/tt0053354/',
 '/title/tt0196229/',
 '/title/tt0027087/',
 '/title/tt6598238/',
 '/title/tt0063135/',
 '/title/tt0844479/',
 '/title/tt0369610/',
 '/title/tt0772152/',
 '/title/tt0258100/',
 '/title/tt0109040/',
 '/title/tt0056905/',
 '/title/tt0896923/',
 '/title/tt1786751/',
 '/title/tt0051383/',
 '/title/tt0341555/',
 '/title/tt0802948/',
 '/title/tt9208444/',
 '/title/tt0104850/',
 '/title/tt0272118/',
 '/title/tt3018070/',
 '/title/tt0300902/',
 '/title/tt0101984/',
 '/title/tt8075202/',
 '/title/tt3829266/',
 '/title/tt4287470/',
 '/title/tt3863552/',
 '/title/tt0780516/',
 '/title/tt1817081/',
 '/title/tt1837587/',
 '/title/tt6527426/',
 '/title/tt1954701/',
 '/title/tt0236784/',
 '/title/tt0098999/',
 '/title/tt0847745/',
 '/title/tt0100613/',
 '/title/tt0042209/',
 '/title/tt0074626/',
 '/title/tt2321405/',
 '/title/tt0065446/',
 '/title/tt0054135/',
 '/title/tt0090886/',
 '/title/tt4840206/',
 '/title/tt0195685/',
 '/title/tt1698641/',
 '/title/tt1071804/',
 '/title/tt2133196/',
 '/title/tt2573438/',
 '/title/tt0040366/',
 '/title/tt0313670/',
 '/title/tt0087803/',
 '/title/tt0271263/',
 '/title/tt7010412/',
 '/title/tt0425308/',
 '/title/tt0069421/',
 '/title/tt0040317/',
 '/title/tt0101746/',
 '/title/tt0421082/',
 '/title/tt7095654/',
 '/title/tt5460530/',
 '/title/tt8521736/',
 '/title/tt8858104/',
 '/title/tt0910885/',
 '/title/tt0816545/',
 '/title/tt0286797/',
 '/title/tt1024255/',
 '/title/tt0120706/',
 '/title/tt4900708/',
 '/title/tt2169322/',
 '/title/tt0292319/',
 '/title/tt0308644/',
 '/title/tt0330217/',
 '/title/tt1850397/',
 '/title/tt0050407/',
 '/title/tt4048050/',
 '/title/tt18568902/',
 '/title/tt0038343/',
 '/title/tt0265232/',
 '/title/tt6170484/',
 '/title/tt0055608/',
 '/title/tt0282687/',
 '/title/tt3766354/',
 '/title/tt0301976/',
 '/title/tt0059527/',
 '/title/tt8108198/',
 '/title/tt0090866/',
 '/title/tt0199753/',
 '/title/tt2474976/',
 '/title/tt0114781/',
 '/title/tt6338498/',
 '/title/tt5116302/',
 '/title/tt6511932/',
 '/title/tt6642396/',
 '/title/tt0479519/',
 '/title/tt10687070/',
 '/title/tt0045564/',
 '/title/tt1663655/',
 '/title/tt0412798/',
 '/title/tt2357291/',
 '/title/tt0077663/',
 '/title/tt0088299/',
 '/title/tt3513054/',
 '/title/tt0238546/',
 '/title/tt1133559/',
 '/title/tt0422779/',
 '/title/tt1291566/',
 '/title/tt2294473/',
 '/title/tt0027067/',
 '/title/tt0067500/',
 '/title/tt0085276/',
 '/title/tt0023940/',
 '/title/tt0098168/',
 '/title/tt1322312/',
 '/title/tt2277860/',
 '/title/tt0217629/',
 '/title/tt1438173/',
 '/title/tt1046163/',
 '/title/tt0021814/',
 '/title/tt0050815/',
 '/title/tt0116242/',
 '/title/tt2980706/',
 '/title/tt0091635/',
 '/title/tt0100403/',
 '/title/tt5078886/',
 '/title/tt0088011/',
 '/title/tt9176086/',
 '/title/tt0064855/',
 '/title/tt6017756/',
 '/title/tt0079641/',
 '/title/tt0067924/',
 '/title/tt0081398/',
 '/title/tt5519340/',
 '/title/tt0445946/',
 '/title/tt0059712/',
 '/title/tt1139797/',
 '/title/tt0405469/',
 '/title/tt1100048/',
 '/title/tt1385867/',
 '/title/tt0373981/',
 '/title/tt8479346/',
 '/title/tt1535108/',
 '/title/tt0086153/',
 '/title/tt0105121/',
 '/title/tt0923600/',
 '/title/tt2216240/',
 '/title/tt7323600/',
 '/title/tt4178092/',
 '/title/tt0192657/',
 '/title/tt0068805/',
 '/title/tt0378215/',
 '/title/tt9664078/',
 '/title/tt0398375/',
 '/title/tt0026164/',
 '/title/tt4610378/',
 '/title/tt0105159/',
 '/title/tt0102522/',
 '/title/tt0470055/',
 '/title/tt1714208/',
 '/title/tt0102258/',
 '/title/tt2244947/',
 '/title/tt2515030/',
 '/title/tt1305869/',
 '/title/tt0476964/',
 '/title/tt0093058/',
 '/title/tt2872518/',
 '/title/tt7897478/',
 '/title/tt0252562/',
 '/title/tt0857300/',
 '/title/tt0044937/',
 '/title/tt0163187/',
 '/title/tt0030657/',
 '/title/tt0037343/',
 '/title/tt0364725/',
 '/title/tt0220757/',
 '/title/tt0430582/',
 '/title/tt0087981/',
 '/title/tt0060934/',
 '/title/tt0064860/',
 '/title/tt0038854/',
 '/title/tt0377091/',
 '/title/tt0111149/',
 '/title/tt2234429/',
 '/title/tt1327200/',
 '/title/tt0050490/',
 '/title/tt1274296/',
 '/title/tt0056825/',
 '/title/tt7221634/',
 '/title/tt0068421/',
 '/title/tt2212008/',
 '/title/tt1086772/',
 '/title/tt1836912/',
 '/title/tt0985636/',
 '/title/tt0117350/',
 '/title/tt0034269/',
 '/title/tt0098141/',
 '/title/tt0120357/',
 '/title/tt1513713/',
 '/title/tt0022700/',
 '/title/tt1783298/',
 '/title/tt0070328/',
 '/title/tt0997152/',
 '/title/tt7642500/',
 '/title/tt6288124/',
 '/title/tt7131870/',
 '/title/tt0101516/',
 '/title/tt0081614/',
 '/title/tt8869978/',
 '/title/tt1285010/',
 '/title/tt0906665/',
 '/title/tt5215088/',
 '/title/tt0060666/',
 '/title/tt5465370/',
 '/title/tt4027504/',
 '/title/tt0060400/',
 '/title/tt1314652/',
 '/title/tt1300854/',
 '/title/tt2024519/',
 '/title/tt2398149/',
 '/title/tt1716777/',
 '/title/tt0468489/',
 '/title/tt6193424/',
 '/title/tt0051588/',
 '/title/tt0763304/',
 '/title/tt2417560/',
 '/title/tt1615075/',
 '/title/tt3704428/',
 '/title/tt3399896/',
 '/title/tt0378947/',
 '/title/tt11024272/',
 '/title/tt0488085/',
 '/title/tt5544384/',
 '/title/tt0046280/',
 '/title/tt0101733/',
 '/title/tt0059797/',
 '/title/tt8169552/',
 '/title/tt0280490/',
 '/title/tt0069976/',
 '/title/tt6105098/',
 '/title/tt2441982/',
 '/title/tt0373889/',
 '/title/tt0763831/',
 '/title/tt1006926/',
 '/title/tt5890000/',
 '/title/tt6409762/',
 '/title/tt0369735/',
 '/title/tt0056196/',
 '/title/tt2258337/',
 '/title/tt0061765/',
 '/title/tt0230597/',
 '/title/tt1483797/',
 '/title/tt1563738/',
 '/title/tt0116669/',
 '/title/tt0037514/',
 '/title/tt0082449/',
 '/title/tt0053877/',
 '/title/tt5297256/',
 '/title/tt0060908/',
 '/title/tt5311514/',
 '/title/tt0066115/',
 '/title/tt0066227/',
 '/title/tt0469689/',
 '/title/tt6206564/',
 '/title/tt6306064/',
 '/title/tt7043012/',
 '/title/tt0298203/',
 '/title/tt1572315/',
 '/title/tt5140878/',
 '/title/tt1029234/',
 '/title/tt6405126/',
 '/title/tt2556874/',
 '/title/tt1701990/',
 '/title/tt0092695/',
 '/title/tt3114132/',
 '/title/tt2226283/',
 '/title/tt0258760/',
 '/title/tt0085303/',
 '/title/tt0162830/',
 '/title/tt1156143/',
 '/title/tt0109835/',
 '/title/tt5451690/',
 '/title/tt0076301/',
 '/title/tt0825236/',
 '/title/tt3541262/',
 '/title/tt0082973/',
 '/title/tt0061715/',
 '/title/tt0077549/',
 '/title/tt5370828/',
 '/title/tt0098384/',
 '/title/tt1231587/',
 '/title/tt0106950/',
 '/title/tt3322940/',
 '/title/tt1142798/',
 '/title/tt0070707/',
 '/title/tt2991224/',
 '/title/tt0461770/',
 '/title/tt0100665/',
 '/title/tt5052474/',
 '/title/tt5719700/',
 '/title/tt0038417/',
 '/title/tt0064146/',
 '/title/tt0059956/',
 '/title/tt5039088/',
 '/title/tt1764366/',
 '/title/tt0399862/',
 '/title/tt0083694/',
 '/title/tt3316948/',
 '/title/tt0138541/',
 '/title/tt0035096/',
 '/title/tt0441796/',
 '/title/tt0449487/',
 '/title/tt0049456/',
 '/title/tt0085743/',
 '/title/tt0089886/',
 '/title/tt3042408/',
 '/title/tt2551378/',
 '/title/tt0993846/',
 '/title/tt0133152/',
 '/title/tt0469263/',
 '/title/tt0760188/',
 '/title/tt0086026/',
 '/title/tt3398052/',
 '/title/tt0054387/',
 '/title/tt0267913/',
 '/title/tt10944760/',
 '/title/tt1198156/',
 '/title/tt0066516/',
 '/title/tt2071613/',
 '/title/tt3124456/',
 '/title/tt6595896/',
 '/title/tt0138467/',
 '/title/tt5764096/',
 '/title/tt0046851/',
 '/title/tt1024733/',
 '/title/tt0079252/',
 '/title/tt5089534/',
 '/title/tt0407732/',
 '/title/tt5829040/',
 '/title/tt0415932/',
 '/title/tt0366777/',
 '/title/tt13056008/',
 '/title/tt0084021/',
 '/title/tt0139462/',
 '/title/tt0090729/',
 '/title/tt2383068/',
 '/title/tt9849004/',
 '/title/tt7374948/',
 '/title/tt0083789/',
 '/title/tt6093618/',
 '/title/tt4991512/',
 '/title/tt0067656/',
 '/title/tt0091777/',
 '/title/tt4645330/',
 '/title/tt0243135/',
 '/title/tt0158610/',
 '/title/tt6721848/',
 '/title/tt1730697/',
 '/title/tt0306434/',
 '/title/tt0113081/',
 '/title/tt0021409/',
 '/title/tt0238660/',
 '/title/tt5290882/',
 '/title/tt0033432/',
 '/title/tt0060437/',
 '/title/tt0377471/',
 '/title/tt0191133/',
 '/title/tt4306308/',
 '/title/tt0374102/',
 '/title/tt10888594/',
 '/title/tt0159784/',
 '/title/tt0280380/',
 '/title/tt4464394/',
 '/title/tt0090863/',
 '/title/tt5501104/',
 '/title/tt0118158/',
 '/title/tt1518812/',
 '/title/tt4356480/',
 '/title/tt0405163/',
 '/title/tt0301357/',
 '/title/tt0884732/',
 '/title/tt6469548/',
 '/title/tt0412536/',
 '/title/tt2507628/',
 '/title/tt2118624/',
 '/title/tt0053168/',
 '/title/tt0110438/',
 '/title/tt0115433/',
 '/title/tt5340882/',
 '/title/tt0258816/',
 '/title/tt5308322/',
 '/title/tt0383028/',
 '/title/tt2821088/',
 '/title/tt6150942/',
 '/title/tt0061523/',
 '/title/tt0041090/',
 '/title/tt6777370/',
 '/title/tt0072895/',
 '/title/tt1037156/',
 '/title/tt6155374/',
 '/title/tt0499097/',
 '/title/tt4874206/',
 '/title/tt0052320/',
 '/title/tt0216417/',
 '/title/tt1288558/',
 '/title/tt1355644/',
 '/title/tt0253151/',
 '/title/tt0140888/',
 '/title/tt0035160/',
 '/title/tt0051496/',
 '/title/tt1060255/',
 '/title/tt2054808/',
 '/title/tt1206885/',
 '/title/tt0021165/',
 '/title/tt0376890/',
 '/title/tt0107983/',
 '/title/tt0303816/',
 '/title/tt1131724/',
 '/title/tt0111712/',
 '/title/tt6462462/',
 '/title/tt9637132/',
 '/title/tt0079640/',
 '/title/tt0337578/',
 '/title/tt0050858/',
 '/title/tt0165643/',
 '/title/tt0110771/',
 '/title/tt0091544/',
 '/title/tt0322120/',
 '/title/tt0018756/',
 '/title/tt0811106/',
 '/title/tt0367188/',
 '/title/tt0167400/',
 '/title/tt0290747/',
 '/title/tt7026666/',
 '/title/tt0100301/',
 '/title/tt0167116/',
 '/title/tt7832124/',
 '/title/tt0234829/',
 '/title/tt0380066/',
 '/title/tt0119177/',
 '/title/tt0780595/',
 '/title/tt0038890/',
 '/title/tt0462485/',
 '/title/tt0067487/',
 '/title/tt0066579/',
 '/title/tt0113071/',
 '/title/tt0246772/',
 '/title/tt0101902/',
 '/title/tt0099253/',
 '/title/tt0207198/',
 '/title/tt1945034/',
 '/title/tt0104740/',
 '/title/tt1571249/',
 '/title/tt0045554/',
 '/title/tt2304426/',
 '/title/tt0160236/',
 '/title/tt10752004/',
 '/title/tt3268668/',
 '/title/tt0063678/',
 '/title/tt0343660/',
 '/title/tt1111890/',
 '/title/tt0790628/',
 '/title/tt1946298/',
 '/title/tt5160154/',
 '/title/tt0108593/',
 '/title/tt0113849/',
 '/title/tt5001718/',
 '/title/tt3719896/',
 '/title/tt0038965/',
 '/title/tt0255958/',
 '/title/tt0102729/',
 '/title/tt0084805/',
 '/title/tt0181530/',
 '/title/tt10539608/',
 '/title/tt3505712/',
 '/title/tt0253420/',
 '/title/tt1279935/',
 '/title/tt0043386/',
 '/title/tt0092035/',
 '/title/tt0023196/',
 '/title/tt0086112/',
 '/title/tt3283556/',
 '/title/tt0437447/',
 '/title/tt0049745/',
 '/title/tt1335975/',
 '/title/tt0077405/',
 '/title/tt0071361/',
 '/title/tt0082467/',
 '/title/tt5460658/',
 '/title/tt0046159/',
 '/title/tt1847731/',
 '/title/tt0247586/',
 '/title/tt3404158/',
 '/title/tt11046300/',
 '/title/tt3136112/',
 '/title/tt9759978/',
 '/title/tt2145829/',
 '/title/tt0083564/',
 '/title/tt0104107/',
 '/title/tt0312549/',
 '/title/tt3971732/',
 '/title/tt0250224/',
 '/title/tt1986857/',
 '/title/tt5910350/',
 '/title/tt1212436/',
 '/title/tt0092752/',
 '/title/tt1613040/',
 '/title/tt0072637/',
 '/title/tt0088915/',
 '/title/tt8091892/',
 '/title/tt0043278/',
 '/title/tt0083276/',
 '/title/tt0866439/',
 '/title/tt0058333/',
 '/title/tt0437238/',
 '/title/tt0062975/',
 '/title/tt6921996/',
 '/title/tt0089530/',
 '/title/tt0253991/',
 '/title/tt1620935/',
 '/title/tt0068182/',
 '/title/tt1951264/',
 '/title/tt0079200/',
 '/title/tt3671086/',
 '/title/tt9845110/',
 '/title/tt3332304/',
 '/title/tt0054198/',
 '/title/tt4008758/',
 '/title/tt0112579/',
 '/title/tt7201846/',
 '/title/tt0119196/',
 '/title/tt0090217/',
 '/title/tt0420982/',
 '/title/tt0009893/',
 '/title/tt7797658/',
 '/title/tt0099204/',
 '/title/tt0022125/',
 '/title/tt13722764/',
 '/title/tt0283160/',
 '/title/tt4149732/',
 '/title/tt6859762/',
 '/title/tt6131712/',
 '/title/tt6211580/',
 '/title/tt5345298/',
 '/title/tt0070698/',
 '/title/tt0106753/',
 '/title/tt1341188/',
 '/title/tt0344604/',
 '/title/tt0974977/',
 '/title/tt1536410/',
 '/title/tt3640424/',
 '/title/tt0489244/',
 '/title/tt0163651/',
 '/title/tt0059635/',
 '/title/tt1704573/',
 '/title/tt0050356/',
 '/title/tt3163336/',
 '/title/tt0048037/',
 '/title/tt0286098/',
 '/title/tt7345930/',
 '/title/tt0417397/',
 '/title/tt0418647/',
 '/title/tt0101356/',
 '/title/tt0416499/',
 '/title/tt1911553/',
 '/title/tt0031951/',
 '/title/tt0477071/',
 '/title/tt5231916/',
 '/title/tt0758781/',
 '/title/tt0074252/',
 '/title/tt4065212/',
 '/title/tt0058135/',
 '/title/tt3652862/',
 '/title/tt0057490/',
 '/title/tt3487610/',
 '/title/tt4405860/',
 '/title/tt0351283/',
 '/title/tt0080464/',
 '/title/tt1417075/',
 '/title/tt0237993/',
 '/title/tt4555426/',
 '/title/tt0356910/',
 '/title/tt5612742/',
 '/title/tt0051755/',
 '/title/tt1950186/',
 '/title/tt0095525/',
 '/title/tt1204342/',
 '/title/tt0094048/',
 '/title/tt1691323/',
 '/title/tt0039689/',
 '/title/tt0049875/',
 '/title/tt0071797/',
 '/title/tt0353261/',
 '/title/tt6097798/',
 '/title/tt0120402/',
 '/title/tt0097733/',
 '/title/tt0905372/',
 '/title/tt0041509/',
 '/title/tt10691162/',
 '/title/tt0046438/',
 '/title/tt1925479/',
 '/title/tt0067185/',
 '/title/tt0184503/',
 '/title/tt0043633/',
 '/title/tt0104545/',
 '/title/tt0042899/',
 '/title/tt0142632/',
 '/title/tt0035884/',
 '/title/tt3301196/',
 '/title/tt4881430/',
 '/title/tt5037840/',
 '/title/tt0066763/',
 '/title/tt4076926/',
 '/title/tt0060742/',
 '/title/tt10279362/',
 '/title/tt0066065/',
 '/title/tt1821478/',
 '/title/tt0489325/',
 '/title/tt0067549/',
 '/title/tt0100611/',
 '/title/tt0061189/',
 '/title/tt1414382/',
 '/title/tt0091069/',
 '/title/tt1216487/',
 '/title/tt1629715/',
 '/title/tt5304464/',
 '/title/tt14199590/',
 '/title/tt1884318/',
 '/title/tt0094819/',
 '/title/tt5464234/',
 '/title/tt5866930/',
 '/title/tt0765487/',
 '/title/tt0039725/',
 '/title/tt3319730/',
 '/title/tt0097336/',
 '/title/tt2343793/',
 '/title/tt0052676/',
 '/title/tt14463484/',
 '/title/tt0026056/',
 '/title/tt0042530/',
 '/title/tt1654523/',
 '/title/tt10127562/',
 '/title/tt2650978/',
 '/title/tt10649016/',
 '/title/tt1837709/',
 '/title/tt0441782/',
 '/title/tt0280605/',
 '/title/tt0034297/',
 '/title/tt10675724/',
 '/title/tt0102614/',
 '/title/tt0055471/',
 '/title/tt0085918/',
 '/title/tt1817771/',
 '/title/tt0074540/',
 '/title/tt3563156/',
 '/title/tt8332922/',
 '/title/tt3066630/',
 '/title/tt7919680/',
 '/title/tt0095134/',
 '/title/tt13804084/',
 '/title/tt11274100/',
 '/title/tt0074991/',
 '/title/tt7016254/',
 '/title/tt0456481/',
 '/title/tt10534500/',
 '/title/tt0073152/',
 '/title/tt3734688/',
 '/title/tt0322659/',
 '/title/tt0427470/',
 '/title/tt0473188/',
 '/title/tt0859635/',
 '/title/tt2016894/',
 '/title/tt5256722/',
 '/title/tt0087700/',
 '/title/tt8846176/',
 '/title/tt0101765/',
 '/title/tt1674057/',
 '/title/tt1104083/',
 '/title/tt0095936/',
 '/title/tt7851428/',
 '/title/tt0469640/',
 '/title/tt0875025/',
 '/title/tt0398029/',
 '/title/tt0063634/',
 '/title/tt0098193/',
 '/title/tt0422093/',
 '/title/tt0836700/',
 '/title/tt3321300/',
 '/title/tt4184878/',
 '/title/tt1294970/',
 '/title/tt0120868/',
 '/title/tt1854513/',
 '/title/tt0063023/',
 '/title/tt0105078/',
 '/title/tt11991748/',
 '/title/tt0117979/',
 '/title/tt0056327/',
 '/title/tt0407851/',
 '/title/tt0827503/',
 '/title/tt0031210/',
 '/title/tt1469304/',
 '/title/tt9102084/',
 '/title/tt0060315/',
 '/title/tt0101026/',
 '/title/tt5834262/',
 '/title/tt0368259/',
 '/title/tt0017925/',
 '/title/tt3218580/',
 '/title/tt4581576/',
 '/title/tt0115633/',
 '/title/tt8269566/',
 '/title/tt0106204/',
 '/title/tt1411232/',
 '/title/tt11777738/',
 '/title/tt0487419/',
 '/title/tt0457275/',
 '/title/tt0164181/',
 '/title/tt0109550/',
 '/title/tt10515852/',
 '/title/tt0099578/',
 '/title/tt10196142/',
 '/title/tt6263490/',
 '/title/tt0490170/',
 '/title/tt12592252/',
 '/title/tt0111282/',
 '/title/tt0034890/',
 '/title/tt0079688/',
 '/title/tt0082378/',
 '/title/tt0454876/',
 '/title/tt4914580/',
 '/title/tt4545630/',
 '/title/tt6018306/',
 '/title/tt0064612/',
 '/title/tt1710396/',
 '/title/tt0120263/',
 '/title/tt5194048/',
 '/title/tt0084633/',
 '/title/tt0114055/',
 '/title/tt4515684/',
 '/title/tt5195412/',
 '/title/tt0268380/',
 '/title/tt0102395/',
 '/title/tt0085995/',
 '/title/tt0102860/',
 '/title/tt12971924/',
 '/title/tt1034325/',
 '/title/tt4163264/',
 '/title/tt8907974/',
 '/title/tt5592878/',
 '/title/tt4838534/',
 '/title/tt0084422/',
 '/title/tt0120772/',
 '/title/tt0032617/',
 '/title/tt10441806/',
 '/title/tt0463998/',
 '/title/tt12496706/',
 '/title/tt1244658/',
 '/title/tt0076085/',
 '/title/tt2106537/',
 '/title/tt0057952/',
 '/title/tt0455663/',
 '/title/tt0099810/',
 '/title/tt0119092/',
 '/title/tt6565702/',
 '/title/tt3315342/',
 '/title/tt0076489/',
 '/title/tt0142249/',
 '/title/tt0082338/',
 '/title/tt8664988/',
 '/title/tt0275847/',
 '/title/tt0049849/',
 '/title/tt0086014/',
 '/title/tt0241025/',
 '/title/tt0144715/',
 '/title/tt1333125/',
 '/title/tt3620762/',
 '/title/tt0110932/',
 '/title/tt7188978/',
 '/title/tt2017020/',
 '/title/tt6857988/',
 '/title/tt0073092/',
 '/title/tt0136352/',
 '/title/tt0219699/',
 '/title/tt0317740/',
 '/title/tt5774450/',
 '/title/tt0102175/',
 '/title/tt0084739/',
 '/title/tt0813129/',
 '/title/tt8530978/',
 '/title/tt4961380/',
 '/title/tt0368578/',
 '/title/tt1867093/',
 '/title/tt3832096/',
 '/title/tt0401729/',
 '/title/tt0098273/',
 '/title/tt5164184/',
 '/title/tt1085515/',
 '/title/tt6508228/',
 '/title/tt0454921/',
 '/title/tt2290739/',
 '/title/tt1891757/',
 '/title/tt7524414/',
 '/title/tt2404233/',
 '/title/tt0922547/',
 '/title/tt0083960/',
 '/title/tt0150992/',
 '/title/tt0033891/',
 '/title/tt0061495/',
 '/title/tt0053464/',
 '/title/tt0479162/',
 '/title/tt0758752/',
 '/title/tt0015174/',
 '/title/tt0074564/',
 '/title/tt1428538/',
 '/title/tt2239822/',
 '/title/tt1524539/',
 '/title/tt0861689/',
 '/title/tt0179626/',
 '/title/tt0111001/',
 '/title/tt0452625/',
 '/title/tt0126344/',
 '/title/tt0041098/',
 '/title/tt0491145/',
 '/title/tt0926084/',
 '/title/tt12996154/',
 '/title/tt0063775/',
 '/title/tt0096336/',
 '/title/tt0275773/',
 '/title/tt3273636/',
 '/title/tt0019130/',
 '/title/tt0249188/',
 '/title/tt0790712/',
 '/title/tt0425637/',
 '/title/tt0473102/',
 '/title/tt0240772/',
 '/title/tt7052244/',
 '/title/tt0082200/',
 '/title/tt1823664/',
 '/title/tt6251024/',
 '/title/tt0111693/',
 '/title/tt0104573/',
 '/title/tt4807272/',
 '/title/tt9815714/',
 '/title/tt0380538/',
 '/title/tt1071875/',
 '/title/tt1629376/',
 '/title/tt0081159/',
 '/title/tt8116428/',
 '/title/tt0493404/',
 '/title/tt0785006/',
 '/title/tt3177316/',
 '/title/tt10648342/',
 '/title/tt2374902/',
 '/title/tt0046478/',
 '/title/tt0063688/',
 '/title/tt5851014/',
 '/title/tt0484877/',
 '/title/tt0054599/',
 '/title/tt2398241/',
 '/title/tt0032285/',
 '/title/tt0075930/',
 '/title/tt0285492/',
 '/title/tt0109134/',
 '/title/tt0120596/',
 '/title/tt0283426/',

In [234]:
metadata

,main_genre,original_title,genres,poster_url,review_summary,agg_rating,actors,imdb_recommendations,details,boxoffice,reviews_collected_flg
/title/tt0002130/,Adventure,Dante's Inferno,"[Adventure, Drama, Fantasy]",https://m.media-amazon.com/images/M/MV5BNjU1ND...,"{'user_review_num': '36', 'critic_review_num':...","{'avg_rating': '7.0/10', 'num_votes': '2.9K'}","{'1': '/name/nm0660139', '2': '/name/nm0685283...","{'1': '/title/tt0003740/', '2': '/title/tt0001...",{'release_date': ['July 1911 (United States)']...,"{'budget': None, 'boxoffice_gross_domestic': N...",1
/title/tt0003740/,Adventure,Cabiria,"[Adventure, Drama, History]",https://m.media-amazon.com/images/M/MV5BZmVjNz...,"{'user_review_num': '35', 'critic_review_num':...","{'avg_rating': '7.1/10', 'num_votes': '3.6K'}","{'1': '/name/nm0021935', '2': '/name/nm0702894...","{'1': '/title/tt0006864/', '2': '/title/tt0009...","{'release_date': ['May 9, 1914 (United States)...","{'budget': 'ITL 1,000,000 (estimated)', 'boxof...",1
/title/tt0004635/,Action,The Squaw Man,"[Action, Drama, Romance]",https://m.media-amazon.com/images/M/MV5BMjMwOD...,"{'user_review_num': '9', 'critic_review_num': ...","{'avg_rating': '5.7/10', 'num_votes': '979'}","{'1': '/name/nm0267914', '2': '/name/nm0758457...","{'1': '/title/tt0014532/', '2': '/title/tt0006...","{'release_date': ['February 15, 1914 (United S...","{'budget': '$20,000 (estimated)', 'boxoffice_g...",1
/title/tt0004707/,Comedy,Tillie's Punctured Romance,[Comedy],https://m.media-amazon.com/images/M/MV5BMDZjOW...,"{'user_review_num': '41', 'critic_review_num':...","{'avg_rating': '6.3/10', 'num_votes': '3.5K'}","{'1': '/name/nm0000122', '2': '/name/nm0237597...","{'1': '/title/tt0005074/', '2': '/title/tt0006...","{'release_date': ['December 21, 1914 (United S...","{'budget': '$50,000 (estimated)', 'boxoffice_g...",1
/title/tt0004972/,Drama,The Birth of a Nation,"[Drama, History, War]",https://m.media-amazon.com/images/M/MV5BNWZlNj...,"{'user_review_num': '379', 'critic_review_num'...","{'avg_rating': '6.2/10', 'num_votes': '25K'}","{'1': '/name/nm0001273', '2': '/name/nm0550615...","{'1': '/title/tt0006864/', '2': '/title/tt0009...","{'release_date': ['March 21, 1915 (United Stat...","{'budget': '$110,000 (estimated)', 'boxoffice_...",1
...,...,...,...,...,...,...,...,...,...,...,...
/title/tt9898858/,Action,Coffee & Kareem,"[Action, Comedy, Crime]",https://m.media-amazon.com/images/M/MV5BNTMyMm...,"{'user_review_num': '426', 'critic_review_num'...","{'avg_rating': '5.1/10', 'num_votes': '14K'}","{'1': '/name/nm1159180', '2': '/name/nm0378245...","{'1': '/title/tt8851668/', '2': '/title/tt3317...","{'release_date': ['April 3, 2020 (United State...","{'budget': None, 'boxoffice_gross_domestic': N...",1
/title/tt9900782/,Action,Kaithi,"[Action, Crime, Thriller]",https://m.media-amazon.com/images/M/MV5BOWVlNj...,"{'user_review_num': '269', 'critic_review_num'...","{'avg_rating': '8.5/10', 'num_votes': '26K'}","{'1': '/name/nm1912683', '2': '/name/nm1230844...","{'1': '/title/tt9179430/', '2': '/title/tt1057...","{'release_date': ['October 24, 2019 (United St...","{'budget': '₹240,000,000 (estimated)', 'boxoff...",1
/title/tt9907782/,Fantasy,The Cursed,"[Fantasy, Horror, Mystery]",https://m.media-amazon.com/images/M/MV5BMjllNW...,"{'user_review_num': '141', 'critic_review_num'...","{'avg_rating': '6.2/10', 'num_votes': '8.2K'}","{'1': '/name/nm2933542', '2': '/name/nm0717709...","{'1': '/title/tt8296030/', '2': '/title/tt1251...","{'release_date': ['February 18, 2022 (United S...","{'budget': None, 'boxoffice_gross_domestic': '...",1
/title/tt9911196/,Comedy,The Marriage Escape,"[Comedy, Drama]",https://m.media-amazon.com/images/M/MV5BYjNjZm...,"{'user_review_num': '10', 'critic_review_num':...","{'avg_rating': '7.5/10', 'num_votes': '3.4K'}","{'1': '/name/nm0277932', '2': '/name/nm0824373...","{'1': '/title/tt14217100/', '2': '/title/tt613...","{'release_date': ['February 13, 2020 (Netherla...","{'budget': None, 'boxoffice_gross_domestic': N...",1
/title/tt9916362/,Drama,Coven,"[Drama, History]",https://m.media-amazon.com/images/M/MV5BZTc0NG...,"{'user_review_num': '38', 'critic_review_num':...","{'avg_rating': '6.4/10', 'num_votes': '4.8K'}","{'1': '/name/nm3766704', '2': '/name/nm0107165...","{'1': '/title/tt10434142/', '2': '/title/tt796...","{'release_date': ['October 2, 2020 (Spain)'], ...","{'budget': '€2,500,000 (estimated)', 'boxoffic...",1

In [76]:
for title in metadata.index:
title_reviews_file = os.path.join('s3://', bucket, 'reviews/tt0021884.csv')
some_reviews = pd.read_csv(title_reviews_file, storage_options=storage_options)
some_reviews.head()

,Unnamed: 0,id,text,rating,date,title,author,helpfulness
0,0,/title/tt0021884/,"'Frankenstein', like Todd Browning's 'Dracula'...",NaN,16 April 2003,Wow! What a movie! A horror classic and still...,/user/ur0381265/?ref_=tt_urv,\n 15 out of 15 found this ...
1,1,/title/tt0021884/,"""We are about to unfold the story of Frankenst...",10.0,7 August 2009,Classic Monster Movie\n,/user/ur19664654/?ref_=tt_urv,\n 23 out of 23 found this ...
2,2,/title/tt0021884/,Of all the great Universal horror classics and...,10.0,25 January 2008,Slaughter of the Innocents\n,/user/ur2483625/?ref_=tt_urv,\n 13 out of 14 found this ...
3,3,/title/tt0021884/,After having been kicked out of school for his...,10.0,31 January 2005,Whale's First Masterpiece\n,/user/ur0139258/?ref_=tt_urv,\n 81 out of 97 found this ...
4,4,/title/tt0021884/,Even though in 1931 this movie was already a r...,10.0,26 November 2003,Karloff's most memorable\n,/user/ur2626332/?ref_=tt_urv,\n 15 out of 16 found this ...

In [282]:
pd.concat([some_reviews, some_reviews])

,Unnamed: 0,id,text,rating,date,title,author,helpfulness
0,0,/title/tt1160419/,It's been amazing being back in cinemas after ...,10.0,23 October 2021,"My movie of 2021, so far.\n",/user/ur15311310/?ref_=tt_urv,"\n 1,313 out of 2,021 found..."
1,1,/title/tt1160419/,Denis Villeneuve has accomplished what was con...,9.0,13 September 2021,DUNE - A Great Modern Sci-Fi\n,/user/ur0406567/?ref_=tt_urv,"\n 1,144 out of 1,773 found..."
2,2,/title/tt1160419/,It's been some time since I've read the Frank ...,9.0,22 October 2021,"""He shall know your ways as though born to th...",/user/ur2707735/?ref_=tt_urv,\n 567 out of 942 found thi...
3,3,/title/tt1160419/,There is probably no point in warning about sp...,4.0,23 October 2021,Dune- as Endless as a Desert.\n,/user/ur5348015/?ref_=tt_urv,\n 420 out of 709 found thi...
4,4,/title/tt1160419/,I feel I should start by saying I have minimal...,5.0,29 October 2021,Duned from the Start\n,/user/ur102601261/?ref_=tt_urv,\n 111 out of 178 found thi...
...,...,...,...,...,...,...,...,...
5599,5599,/title/tt1160419/,Read Book before watching the movie after the ...,7.0,6 November 2021,Epic but\n,/user/ur77835361/,\n 0 out of 7 found this he...
5600,5600,/title/tt1160419/,I loved the movie right up to where they ended...,8.0,25 October 2021,Good film\n,/user/ur84090370/,\n 0 out of 0 found this he...
5601,5601,/title/tt1160419/,"I liked the movie, but they spoke mostly in wh...",7.0,27 October 2021,"Hard to hear what they're saying, great casti...",/user/ur93516241/,\n 0 out of 6 found this he...
5602,5602,/title/tt1160419/,"Let me say Dune is my favorite syfi movie, but...",5.0,24 October 2021,Disappointed\n,/user/ur97358399/,\n 0 out of 1 found this he...
5603,5603,/title/tt1160419/,But it's like Karatekid meets the Taliban in A...,7.0,2 December 2021,Entertaining\n,/user/ur98728677/,\n 0 out of 8 found this he...

In [281]:
some_reviews.to_parquet(os.path.join('s3://', bucket, 'test_file.parquet'), storage_options=storage_options)

In [238]:
etl.ReviewsETL.transform(some_reviews).to_csv('here.csv', compression='gzip')

In [241]:
4e6 / 5604 * 7

4996.431120628124

In [239]:
some_reviews.shape

(5604, 8)

In [214]:
some_reviews.memory_usage(deep=True).sum() / 1024 / 1024

7.596530914306641

In [209]:
etl.split_helpfulness_col(some_reviews).dtypes

[autoreload of recsys.imdb_parser.etl failed: Traceback (most recent call last):
  File "/Users/imilyutin/miniconda3/envs/movie_recsys/lib/python3.9/site-packages/IPython/extensions/autoreload.py", line 257, in check
    superreload(m, reload, self.old_objects)
  File "/Users/imilyutin/miniconda3/envs/movie_recsys/lib/python3.9/site-packages/IPython/extensions/autoreload.py", line 455, in superreload
    module = reload(module)
  File "/Users/imilyutin/miniconda3/envs/movie_recsys/lib/python3.9/importlib/__init__.py", line 169, in reload
    _bootstrap._exec(spec, module)
  File "<frozen importlib._bootstrap>", line 613, in _exec
  File "<frozen importlib._bootstrap_external>", line 851, in exec_module
  File "<frozen importlib._bootstrap_external>", line 988, in get_code
  File "<frozen importlib._bootstrap_external>", line 918, in source_to_code
  File "<frozen importlib._bootstrap>", line 228, in _call_with_frames_removed
  File "/Users/imilyutin/projects/movie_recommender_system/recsys/imdb_parser/etl.py", line 100
    .astype({'upvotes': 'int16', 'total_votes': 'int16'})
    ^
SyntaxError: invalid syntax
]

Unnamed: 0       int64
id              object
text            object
rating         float64
date            object
title           object
author          object
upvotes          int64
total_votes      int64
dtype: object

In [190]:
some_reviews.dtypes

Unnamed: 0       int64
id              object
text            object
rating         float64
date            object
title           object
author          object
helpfulness     object
dtype: object

In [188]:
s = 'abc\n'
s.rstrip('\n')

'abc'

In [185]:
some_reviews.shape

(5604, 8)

In [186]:
some_reviews.memory_usage(deep=True) / 1024 / 1024 / 5604 * 4e6

Index             0.087131
Unnamed: 0       30.517578
id              282.287598
text           3259.999168
rating           30.517578
date            274.961800
title           335.984703
author          283.757931
helpfulness     924.107009
dtype: float64

In [10]:
some_reviews.memory_usage(deep=True).sum() / 1024 / 1024 * 23000

29241.442680358887