In [9]:
import os
import pandas as pd

DATA_DIR = os.path.join('..', 'data', 'raw', 'reviews', '1pct_10pct')

In [11]:
genre_df = (pd.read_csv(os.path.join(DATA_DIR, file))
            for file in os.listdir(DATA_DIR))

reviews = pd.concat(genre_df, ignore_index=True)

In [16]:
reviews.head()

,id,text,rating,date,title,author,helpfulness
0,/title/tt0468569/,Best movie ever. Heath ledger's work is phenom...,10.0,12 January 2021,Perfect combo\n,/user/ur95396995/?ref_=tt_urv,\n 171 out of 185 found thi...
1,/title/tt0468569/,Totally one of the greatest movie titles ever ...,10.0,9 January 2021,The Dark Knight\n,/user/ur109215140/?ref_=tt_urv,\n 144 out of 158 found thi...
2,/title/tt0468569/,This movie is a work of art. The finest sequel...,10.0,17 February 2021,This town deserves a better class of criminal!\n,/user/ur129557514/?ref_=tt_urv,\n 50 out of 54 found this ...
3,/title/tt0468569/,"Confidently directed, dark, brooding, and pack...",10.0,12 February 2020,The Dark Knight\n,/user/ur87850731/?ref_=tt_urv,\n 404 out of 471 found thi...
4,/title/tt0468569/,It is just what you want for the best movie. G...,10.0,7 October 2019,MASTERPIECE\n,/user/ur108519953/?ref_=tt_urv,\n 217 out of 251 found thi...

In [18]:
def split_helpfulness_col(df_raw: pd.DataFrame) -> pd.DataFrame:
    """
    Split 'helpfulness' column of input dataframe into two
    distinct columns: 'upvotes' and 'total_votes'.

    Args:
        df_raw (pd.DataFrame): input data with column 

    Returns:
        pd.DataFrame: Output data frame 
    """
    df_ = df_raw.copy(deep=False)
    df_[['upvotes', 'total_votes']] = (
        reviews['helpfulness']
        .str.replace(',', '')
        .str.extractall('(\d+)')
        .unstack('match')
        .values
    )
    return df_.drop(columns=['helpfulness'])

156531

In [46]:
result = (
    reviews['helpfulness']
    .str.replace(',', '')
    .str.extractall('(\d+)')
    .unstack('match')
)
result

          0
match     0    1
0       171  185
1       144  158
2        50   54
3       404  471
4       217  251
...     ...  ...
604280    8   12
604281   12   20
604282    4    5
604283    4    5
604284   10   17

[604285 rows x 2 columns]

In [52]:
data = [
    {'id': 1, 'helpfulness': '10 out of 12'},
    {'id': 2, 'helpfulness': '100 out of 101'}
]
pd.DataFrame(data)

   id     helpfulness
0   1    10 out of 12
1   2  100 out of 101

In [54]:
reviews['helpfulness'][0]

'\n                    171 out of 185 found this helpful.\n                        \n                            Was this review helpful?  Sign in to vote.\n                        \n\nPermalink\n'

In [62]:
reviews.loc[0, ['id', 'rating']]

id        /title/tt0468569/
rating                 10.0
Name: 0, dtype: object