In [4]:
import sqlalchemy as db
import sqlite3 as sqlite
import os

In [11]:
engine = db.create_engine('sqlite:///' + os.path.abspath(DB_PATH))

In [12]:
conn = engine.connect()

In [16]:
metadata = db.MetaData()

emp = db.Table('emp', metadata,
              db.Column('Id', db.Integer()),
              db.Column('name', db.String(255), nullable=False),
              db.Column('salary', db.Float(), default=100.0),
              db.Column('active', db.Boolean(), default=True)
              )
metadata.create_all(engine)

In [17]:
#Inserting many records at ones
query = db.insert(emp) 
values_list = [{'Id':'2', 'name':'ram', 'salary':80000, 'active':False},
               {'Id':'3', 'name':'ramesh', 'salary':70000, 'active':True}]
ResultProxy = conn.execute(query,values_list)

In [18]:
import pandas as pd

results = conn.execute(db.select([emp])).fetchall()
df = pd.DataFrame(results)
df.columns = results[0].keys()
df.head(4)

   Id    name   salary  active
0   2     ram  80000.0   False
1   3  ramesh  70000.0    True

In [9]:
DB_URL = 'sqlite://' + DB_PATH
DB_URL

'sqlite://..\\data\\foo.db'

In [8]:
DB_PATH = os.path.join('..', 'data', 'foo.db')
conn = sqlite.connect(DB_PATH)

In [7]:
os.path.abspath(DB_PATH)

'c:\\Users\\milyu\\projects\\movie_recommender_system\\notebooks\\data\\foo.db'